* {
  margin: 0;
  padding: 0;

}


body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(120 203 202);
  color: #030303;
overflow-x: hidden;

}


/* NAVBAR */

nav {
  display: flex;
  justify-content: space-around;
align-items: center;
  padding: 1em 0;
}

nav ul {
  list-style: none;

}
nav ul a{
  text-decoration: none;
  color: #ff960c; 
}
ul {
  display: flex;
  /* background-color: rgb(46, 18, 59); */

}

.right {
  color: rgb(8, 172, 122);
  font-weight: 800;
  font-size: 25px;
}

ul li {
  margin: 0 38px;

}

/* HAMBURGER MENU */

.hamburger{
  display: none;
}
.menu{
  position: fixed;
  top:0;
  right:0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: #43a8b6;
  backdrop-filter: blur(10px);
 
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
 
}

.menu li{
background-color:#33b49f;

}
.menu li a{
 
  color: #2e3b53;
  width: 85%;
  padding: 0 40px;
text-align: center;

}
.menu li:hover{
  box-shadow: -8px 0 10px  #0e121a;
}
.left .hide{
  margin: 0 45px;
background-color: #210f0f;

}

/* Dark Theme */
.dark{
height: 32px;
width: 80px;
border: 2px solid rgb(238, 238, 238);
border-radius: 12px;
background-color: aqua;
}
.dark::before{
  content: "";
 display: block;
  height: 29px;
  width: 30px;
  border: 2px solid;
  background-color: rgb(252, 252, 252);
  border-radius: 30px;
  position: relative;
  left: 5px;
  top: 0px;
  transition: left 0.5s ease; 
}
.dark.move::before{
position: relative;
  left: 35px;
background-color: #080808;
}
.dark.move{
  background-color: #770eda;
}
header .move{
  background-color: #e9901c;
}






@media (max-width:750px) {
  ul li{
    margin: 0 16px;
  }
  .dark{
height: 20px;
        width: 42px;
  }
  .dark::before{
    height: 15px;
    width: 15px;
  }
  .dark.move::before{
    left: 20px;
  }
}

@media (max-width:530px){
  .nav{
    display: flex;
    justify-content: space-between;
  }
  .right{
    margin: 0 40px;
  }
  li{
    display: none;
  }
  .menu li{
    width: 85%;
    display: block;

  }
  .hamburger{
    display: block;
  }

}





/* CONTENT */


.first {

  display: flex;
  justify-content: center;
  align-items: center;
 
  animation: fade 5s ease-in-out;

}



.part1 {

  color: #684f89;
  
  max-width: 45vw;
  height: 400px;
  font-size: 2.5em;
  padding: 0 12px;
  box-sizing: border-box;
  font-weight: 500;

}

/* Type js this is use for animation */
#element {
  color:#577c8e;
  font-weight: 600;
}

.span {
  color: rgb(143 117 117);
}

.part2 {

box-sizing: border-box;
height: 450px;

text-align: center;
}

.part2 img {
  width: 100%;
  height: 250px;
  padding: 0 3px 32px 31px;
}


@media (max-width:850px){

  .part1{
    max-width: 40vw;
    font-size: 2.0em;
  }
  .part2{
    height: 400px;
    /* background-color: #d6d6d6; */
  }
  .part2 img {
    width: 100%;
    height: 195px;
   
  }

}
@media (max-width:700px){

  .part1{
   
    font-size: 1.6em;
  }
}
@media (max-width:500px){
.first{
  display:flex;
  flex-direction: column-reverse;
}

  .part1{
   
  max-width:  66%;
  position: relative;
    left: 10px;
height: 200px;
  }
  .part2{
    height: 100px;
  }
  .part2 img{
  padding: 0;
  height: 200px;
  }

}

/* ABOUT */
.about {
  margin: 20px auto;
  max-width: 70vw;


}


/* skill */
.skill {
  margin: 20px auto;
  max-width: 70vw;


}

.space {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  flex-wrap: wrap;
gap: 14px;
}
.list {
  text-align: center;
  border: 1px solid #21385a;
  box-sizing: border-box;

  width: 200px;
  height: 200px;
  border-radius: 7px;
}
.list img{
  padding: 4px;
}
.list p{
  font-size: 12px;
}
.list h5{
  margin: 12px;
}

.list:hover{
  background-color: rgb(146, 109, 36);

  box-shadow: 8px 4px 4px #395f97;
  cursor: pointer;
  transition: box-shadow 0.5s ease-out, background-color 0.6s ease;
}






/* education */


.box {
  text-align: center;
  border: 1px solid #21385a;
  box-sizing: border-box;

  width: 280px;
  height: 280px;
  border-radius: 7px;
}

.content p {
  font-weight: 300;
}

.box img {
  padding: 6px;

  width: 250px;
  height: 120px;
  border-radius: 20px;
}

.box h4 {
  padding: 0 20px; /* Adjust padding */
  font-weight: 500;
  color: rgb(240, 112, 21);
}

.box p {
  font-size: 12px;
  padding: 10px 20px; /* Adjust padding */
  word-wrap: break-word; /* Ensure long text wraps */
}

.study{
  display: flex;
}

/* contact me */


.git a {
  text-decoration: none;

}


.git {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.mail-link{
  position: relative;
  text-align: center;
  bottom: 1px;
}
.mail-link a{

 padding: 20px;

}
.bouncein{
  animation: bouncein 1s ;
}
